# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
lib/pkgconfig

# Executables
*.exe
*.out
*.app
ccc
lib/antlr4-complete.jar

# Generated C++ and headers files
generated
include/antlr4-runtime
include/gmock
include/gtest

